:root {
  --maroon: #9c0c0c;
  --grey: #d9d9d9;
  --soft-blue: #33baff;
  --navactive: rgba(217, 217, 217, 0.8);
}
/* semua text memakai poppins */
* {
  font-family: "Poppins";
}

/* NAVBAR */
/* hover nav */
@keyframes slideUnderline {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.navbar {
  position: relative;
  color: white; /* Warna teks default */
  font-weight: bold;
  margin-left: 0.75rem /* 12px */;
  margin-right: 0.75rem /* 12px */;
  padding: 12px;
  transition: 0.3s all linear;
}

.navbar::after {
  transition: width 0.3s ease;
}

.navbar:hover {
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* hover nav end*/
/* NAVBAR END  */

/* hover item */
.link-item {
  transform-origin: 50% 50%;
  width: 280px;
  min-width: 280px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  border-width: 2px;
  border-color: #e4f6ff;
  transition: all 0.3s ease;
  position: relative;
}

.link-item:hover {
  scale: 1.05;
  border-color: #ffffff;
}

/* .news::-webkit-scrollbar {
  width: 10px;
}

.item-team::-webkit-scrollbar {
  margin: 10px;
} */

/* hover item end*/

/* MODEL GALLERY START */

/* MODEL GALLERY END */
